/*------------------------BASE COLORS---------------------------------------*/
/* rgb(76, 70, 70)
rgb(90, 86, 85)
var(--main-accent-color)
rgb(244, 240, 238) */

:root {
	--main-accent-color: rgb(72, 219, 99);
	--sec-accent-color: rgb(57, 201, 84);
	--opc-accent-color: rgb(102, 185, 121);
	--main-light-color: rgb(238, 243, 244);
	--sec-light-color: rgb(228, 228, 228);
	--main-dark-color: rgb(90, 86, 85);
	--sec-dark-color: rgb(61, 59, 59);
}

.bg-dark-custom {
	background-color: var(--sec-dark-color);
	color: var(--main-light-color);
}

.color-light {
	color: var(--main-dark-color);
	background-color: var(--main-light-color);
}

/*-------------------------INCONS-------------------------------------------*/

.icon-light {
	stroke: var(--main-light-color);
}

.icon-dark {
	stroke: var(--sec-dark-color);
}

.big-icon {
	height: 24px;
	width: 24px;
}


/*------------------------BODY----------------------------------------------*/

body{
	background-color: var(--sec-light-color);
	/* height: 1000px; */
	/* margin-left: 80px; */
}

@media only screen and (max-width: 580px) {
	body {
		margin-left: 0;
		min-height: 100%;
		display: flex;
		flex-direction: column;
	}

}

/*-------------------------------SIDE BAR-----------------------------------*/

.sidebar{
	position: fixed;
	top: 0;
	left: 0;
	width: 50px;
	height: 100vh;
	background-color: var(--sec-dark-color);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	z-index: 100;
	transition: width 0.2s;
	-o-transition: width 0.2s;
	-moz-transition: width 0.2s;
	-webkit-transition: width 0.2s;
}

.sidebar-item {
	width: 100%;
	height: 50px;
	background-color: var(--sec-dark-color);
	border-bottom: 0.7px solid rgba(0,0,0,0.8);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.sidebar-active {
	background-color: var(--sec-accent-color);
	box-shadow: 0 2px 6px rgba(0,0,0,0.3),
				0 -2px 6px rgba(0,0,0,0.3);
}

.sidebar-item:last-child {
	margin-top: auto;
	border-top: 1px solid rgba(0,0,0,0.8);
}

.sidebar-item:hover {
	box-shadow: 0 2px 6px rgba(0,0,0,0.3),
				0 -2px 6px rgba(0,0,0,0.3);
	transition-duration: 0.25s;
	z-index: 1000;
}

.sidebar-link {
	display: flex;
    width: inherit;
    height: inherit;
    align-items: center;
    justify-content: space-evenly;
}

@media only screen and (max-width: 580px) {
	.sidebar{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 75px;
		background-color: var(--sec-dark-color);
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	.sidebar-item {
		flex: 1;
		height: 100%;
		border: none;
	}

	.sidebar-item:hover {
		box-shadow: 2px 0 6px rgba(0,0,0,0.3);
		border-right: 0.5px solid rgba(0,0,0,0.8);
		border-left: 0.5px solid rgba(0,0,0,0.8);
		transition-duration: 0.25s;
		z-index: 1000;
	}
}

/*------------------------ DEFAULT SHADOW CONTAINER ------------------------*/

.default-container {
	padding: 25px;
	border: 0.5px solid lightgray;
	border-radius: 12px;
	/* box-shadow: 8px 8px 15px rgba(0,0,0, 0.3),
				-8px -8px 15px rgba(255, 255, 255, 0.8); */
	background-color: var(--main-light-color);
	color: black;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/*--------------------------CUSTOM BUTTONS-----------------------------------*/

.btn-custom {
	color: #fff;
	background-color: var(--main-accent-color);
	border-color: var(--main-accent-color);
}

.btn-custom:hover {
	color: #fff;
	background-color: var(--sec-accent-color);
	border-color: var(--sec-accent-color);
	box-shadow: inset 3px 3px 7px rgba(0,0,0,0.05),
				inset -3px -3px 7px rgba(0,0,0,0.05),
				0 4px 15px rgba(0,0,0,0.1);
	transition-duration: 0.2s;
}

.btn-custom:focus, .btn-custom.focus {
	color: #fff;
	background-color: var(--main-accent-color);
	border-color: var(--main-accent-color);
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.2);
}

.btn-custom.disabled, .btn-custom:disabled {
	color: #fff;
	background-color: var(--opc-accent-color);
	border-color: var(--opc-accent-color);
}

.btn-outline-custom {
	color: var(--main-accent-color);
	border-color: var(--main-accent-color);
}

.btn-outline-custom:hover {
	color: #fff;
	background-color: var(--sec-accent-color);
	border-color: var(--sec-accent-color);
	box-shadow: inset 3px 3px 7px rgba(0,0,0,0.05),
				inset -3px -3px 7px rgba(0,0,0,0.05),
				0 4px 15px rgba(0,0,0,0.1);
	transition-duration: 0.2s;
}

.btn-outline-custom:focus, .btn-outline-custom.focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.2);
}

.btn-outline-custom.disabled, .btn-outline-custom:disabled {
	color: var(--opc-accent-color);;
	background-color: transparent;
}

@media only screen and (max-width: 580px) {

}

/* -----------------------------HEADER---------------------------------*/

.header {
	margin: -25px -25px 15px -25px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.gradient-dark {
	background: linear-gradient(90deg, rgb(46, 43, 43) 80% , var(--sec-dark-color));
}

@media only screen and (max-width: 580px) {

}

/* -----------------------------MEDIA QUERY---------------------------------*/

@media only screen and (max-width: 580px) {
	.main-container {
		flex: 1;
	}

	.home-container{
		width: 100%;
		padding:0;
	}
}

@media only screen and (max-width: 450px) {
	.default-container {
		padding: 10px;
		border-radius: 8px;
		background-color: var(--main-light-color);
	}

	.header {
		margin: -10px -10px 10px -10px;
	}
}

/*----------------------------- LOGIN --------------------------------------*/

.form-signin {
	position: relative;
	width: 100%;
	min-width: 300px;
	max-width: 450px;
	margin: auto;
	margin-top: 80px;
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	font-size: 16px;
}

.loader {
	display: flex;
	align-items: center;
    justify-content: space-evenly;
	z-index: 1000;
	background-color: rgba(200,200,200,0.4);
	position:absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	transition: ease-in .2s;
}

.loader-gif {
	width: 75px;
	height: 75px;
	z-index: 1001;
	background-image: url("./images/Pulse-1s-200px.gif");
	background-size: contain;
}